@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-font: "Orbitron";
  --secondary-font: "Metrophobic";

  --primary-color: #351c75;
  --secondary-color: #f7f5de;



  font-family: var(--primary-font), var(--secondary-font), Inter, system-ui,
    Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--background-l0);
}


.lightmode {
  --background-l0: #ffffff;
  --background-l1: #fff1f9cc;
  --background-l2: #ffeae0;
  --background-l3: #aaaaaa;
  --background-disabled: #00000018;
  --background-button: #ff238d;
  --text-default: #111111;
  --text-primary: #311d72;
  --text-secondary: #ff238d;
  --text-tertiary: #ffffff;
  --text-disabled: #424242;
  --text-success: #0dbc33;
  --text-failure: #ff6347;
  --text-action-primary: #4d369a;
  --text-action-secondary: #ff238d;
  --icon-primary: #000000ee;
  --icon-secondary: #00000099;
  --icon-tertiary: #00000055;
  --icon-disabled: #00000044;
  --icon-success: #0dbc33;
  --icon-warn: #bf7c08;
  --icon-failure: #ff6347;

  --light-100: #fff5f0;
  --light-200: #ffeae0;
  --light-300: #aaaaaa;
  --blue-100: #c9daf8;
}

.darkmode {
  --background-l0: #000000;
  --background-l1: #1c1b21;
  --background-l2: #2e2b3c;
  --background-l3: #311d72;
  --background-disabled: #ffffff18;
  --background-button: #ff238d;
  --text-primary: #ffc0e5;
  --text-secondary: #f9f9fb;
  --text-tertiary: #ffffff;
  --text-disabled: #424242;
  --text-success: #0dbc33;
  --text-failure: #ff6347;
  --text-action-primary: #4d369a;
  --text-action-secondary: #ff238d;
  --icon-primary: #000000ee;
  --icon-secondary: #00000099;
  --icon-tertiary: #00000055;
  --icon-disabled: #00000044;
  --icon-success: #0dbc33;
  --icon-warn: #bf7c08;
  --icon-failure: #ff6347;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.menu {
  padding: 8px 20px;
}

.menu span {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 12px;
  margin: 5px;
  background-color: rgb(242, 242, 242);
  color: rgb(31, 41, 55);
  font-size: 14px;
  font-weight: 600;
}

.menu span:hover {
  background-color: rgb(229, 230, 230);
}

.logo {
  background-image: url('/assets/logo/logo.png');
}

.font-metrophobic {
  font-family: "Metrophobic" !important;
}

.font-orbitron {
  font-family: "Orbitron" !important;
}

a[target="_blank"]:hover {
  text-decoration: underline;
}

.menu button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 12px;
  margin: 5px;
  background-color: rgb(53, 28, 115);
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.menu button:hover {
  background-color: rgb(39, 21, 86);
}

.menu select {
  cursor: pointer;
  border: rgb(31, 41, 55) 1px solid;
  border-radius: 5px;
  color: rgb(31, 41, 55);
}